/* blue - #192f42 */
body{
  font-family: 'PT Sans', sans-serif;
  color: #434C5F;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

label{
  font-weight: 700;
}

nav{
  background-color:#1b3043;
}

.body-background-color{
  background-color:#f8f9fa;
}

.active-link{
  border-bottom: 2px solid #86162e;
}

.active-link--lg{
  border-bottom: 4px solid #86162e;
}


.primary-background{
  background-color: #BDC3C7;
  color:#434C5F;
}

.form-control:focus{
 /* border-color: #FF0000;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); */
}

.custom-btn, .custom-btn:hover{
  background-color:#86162e;
  border:1px solid #86162e;
  border-radius:30px;
  font-weight:700;
}

.navbar-light .navbar-nav .nav-link{
  color:#fff;
}

.accent, .accent:hover{
  color:#86162e;
}

.navbar-light .navbar-nav .nav-link:hover{
  color:#fff;
}

.login-panel{
  height: 100vh;
  padding: 30px 0 0 0;
}

.login, .signup, .reset-password{
  margin: 20px auto;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  background-color: #FFFFFF;
  width: 400px;
}

.login{
  height: 380px;
}

.signup{
  height: 410px;
}

.reset-password{
  height: 300px;
}

.login--form{
  margin-top: 40px;
  padding: 0 20px 0 20px;
}

.login--title{
  margin-top: 20px;
  text-align: center;
}

.logo{
  margin: 5px auto;
  height: 100px;
  width: 100px;
}

.logo > img{
  border-radius: 3px;
  width: 100px;
  height: 100px;
}

.nav-logo {
  width: 60px;
  height: 60px;
}

.dashboard-panel{
  height: 80vh;
  background-color: #f9f9fb;
}

.dashboard-sub-nav{
  background-color: #1b3043;
  padding:20px 0;
  color:#ffffff;
}

/* .dashboard-sub-nav--lg{
  height: 200px;
  margin-bottom: 20px;
} */

.video-gallery-container{
  margin-top: 40px;
}

.empty-state-container{
  margin-top: 20px;
}

.empty-state{
  margin: 10px auto;
  width: 500px;
  height: 400px;
  padding: 0px 20px 20px 20px;
}

.empty-state p{
  margin-top: 20px;
  margin-bottom: 40px;
}

.empty-state-icon{
  margin-bottom:20px;
  color:#1b3043;
}

.empty-state-header{
  margin-bottom:20px;
}

.video-gallery{
  height: auto;
}

.table th{
  border-top:0;
}

.question-header, .dialog-header{
  background-color: #1b3043;
  color: #FFFFFF;
  font-weight: 700;
}
